name: flutter_naver_map
description: flutter naver map plugin support android and iOS. naver map service is limited to south korea which has high accuracy.
version: 0.10.2
repository: https://github.com/note11g/flutter_naver_map

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: map.naver.plugin.net.note11.naver_map_plugin
        pluginClass: NaverMapPlugin
      ios:
        pluginClass: NaverMapPlugin
