name: flutter_naver_map
description: Naver Map plugin for Flutter, which provides map service of Korea.
version: 1.3.1
homepage: https://github.com/note11g/flutter_naver_map
documentation: https://note11.dev/flutter_naver_map

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.22.0"

dependencies:
  flutter:
    sdk: flutter
  vector_math: ^2.1.4
  path_provider: ^2.1.4
  crypto: ^3.0.5
  meta: ^1.12.0 # for flutter 3.22.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  plugin:
    platforms:
      android:
        package: dev.note11.flutter_naver_map.flutter_naver_map
        pluginClass: FlutterNaverMapPlugin
      ios:
        pluginClass: FlutterNaverMapPlugin

  assets:
    - ./assets/icon/location_overlay_icon.png
    - ./assets/icon/location_overlay_sub_icon.png
    - ./assets/icon/location_overlay_sub_icon_face.png
    - ./pubspec.yaml
